body{
    background-color: white;
    color: black;
    margin: 20px;
    padding: 10px;
    display: block;

}
.main{
    display: none;
    font-size:larger ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 40%;
    float: center;
    margin-top: 150px;
   
}
.timer{
    font-size: x-large;
    font-weight: bold;
    float: right;
}

.endgame {
    display: none;
}
.quizInstructions {
    margin: 50px;
    padding: 20px;
    border: 100px;
    text-align: center;
   border-color: aquamarine;
   border-style: double;
}
